<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <form>
                <div class="field">
                    <label class="label">Invoice #</label>
                    <div class="control">
                        <input class="input is-large" type="text" placeholder="Enter Invoice #">
                        <button class="button is-primary" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<router-outlet></router-outlet>