<section class="hero is-large">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">Bayside Computers</p>
      <p class="subtitle">Insert Slogan Here</p>
    </div>
  </div>
</section>
<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">People Helped</p>
      <p class="title">{{ peopleHelped }}</p>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
  