<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
      </a>
    
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item is-active" routerLink="">Home</a>
        <a class="navbar-item">About Us</a>
        <a class="navbar-item">Services</a>
      </div>
    
      <div class="navbar-end">
        <div class="navbar-item">
          <a class="button" routerLink="invoice">Pay an Invoice</a>
        </div>
        <div class="navbar-item">
          <a class="button is-primary">Contact Us</a>
        </div>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>